.main__product-img-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.main__product-img {
  display: block;
  width: 178px;
  height: 280px;
}

.main__product-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
