.main__product-price-cont {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-top: 8px;
}

.main__product-price {
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;

  &--current {
    color: #e90000;
  }

  &--old {
    text-decoration: line-through;
    color: #8e8e8e;
  }

  &--none {
    display: none;
  }
}
