.header__bascket-btn {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  background-image: url("../images/cart-icon.svg");
  &::after {
    content: "0";
    position: absolute;
    text-align: center;
    top: 12px;
    font-family: Cabin;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
  }
}
